<template>
  <div>
    <h1>Blog</h1>
    <div v-for="post in posts" :key="post.id">
      <h2>{{ post.title }}</h2>
      <p>{{ post.body }}</p>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
export default {
  created() {
    // this.$store.dispatch('posts/loadPosts')
  },
  methods: {
    // ...mapActions({
    //   loadPosts: 'posts/loadPosts'
    // })
  },
  computed: {
    // posts(){
    //   return this.$store.getters['posts/getPosts'];
    // }
    ...mapGetters({
      posts: 'posts/getPosts',
    }),
  },
}
</script>
