<template>
  <div>
    <h1>Contacto</h1>
    <p>{{counter}}</p>
  </div>
</template>


<script>
export default {
  computed:{
    counter(){
      return this.$store.getters['getCounter'];
    }
  }
}
</script>
