<template>
  <div>
    <!-- <Tutorial message="Testing" /> -->
    <!-- <List /> -->
    <h1>Home</h1>
    <button @click="llamarSumarDos()">Sumar</button>
    <p>{{counter}}</p>
  </div>
</template>

<script>
// import List from '@/components/List.vue';
export default {
  // components: {List}
  methods:{
    llamarSumarDos(){
      this.$store.dispatch('sumarDos');
    }
  },
  computed:{
    counter(){
      return this.$store.getters['getCounter'];
    }
  }
}
</script>
