<template>
  <div>
    <ul>
      <li><nuxt-link to="/">Home</nuxt-link></li>
      <li><nuxt-link to="/contacto">Contacto</nuxt-link></li>
      <li><nuxt-link to="/blog">Blog</nuxt-link></li>
    </ul>
  </div>
</template>
