<template>
  <div class="test">
    <section  v-for="(img, index) in imgs" :key="index">
      <img :src="img" alt="imgtest">
    </section>
  </div>
</template>


<script>
export default {
  name: 'List',
  data: function () {
    return {
      imgs: []
    };
  },
  created: function () {
    this.$axios.$get('https://dummyjson.com/products/1').then((response)=>{
      this.imgs = response.images;
      console.log(response.images);
    });
  }
}
</script>

<style scoped>
  .test{
    margin-left: 100rem;
    flex-basis: content;
    background-color: tomato;
  }
</style>
