<!-- Please remove this file from your project -->
<template>
  <div>
  </div>
</template>

<script>
export default {
  name: 'NuxtTutorial',
  data: function () {
    return {
      count: 0
    };
  },
  props: ["message"],
  methods: {
  },
  created: function () {
  }
}
</script>
